.jumbotron {
  background-image: url('../graphics/sativa.png');
  background-position: initial initial;
  background-repeat: initial initial;
  height: 300px;
  margin-bottom: 0px;
}

.jumbotron h1 {
  font-weight: bold;
}

.jumbotron #biography * {
	display: inline;
}

.jumbotron #biography img {
	height: 75px;
	width: 75px;
	box-shadow: 0 5 5px rgba(0, 0, 0, 0.8);
	border: 1px solid #000000;
	border-radius: 50%;
}

a {
  color: #00b0ff;
}

body {
  text-shadow: 0 0.2px 2px rgba(0, 0, 0, 0.6);
  font-family: 'Roboto Slab', serif;
}

.education {
  background-image: url('../graphics/giftly.png');
  background-position: initial initial;
  background-repeat: initial initial;
  height: 300px;
}

.experience {
  background-image: url('../graphics/photography.png');
  background-position: initial initial;
  background-repeat: initial initial;
  height: 530px;
}

.additional {
  background-image: url('../graphics/skulls.png');
  background-position: initial initial;
  background-repeat: initial initial;
  height: 300px;
}